{% extends 'partial/base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <div class="card shadow mt-5" style="max-width: 600px; margin: auto;">
        <div class="card-header">
            <h3>Update Profile</h3> 
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}" width="50" >
                {% endif %}
                </div>
                <button type="submit" class="btn btn-success mt-3">update Profile</button>
            </form>
        </div>
    </div>
    
{% endblock %}