{% extends 'partial/base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'create_profile' %}" class="btn btn-primary float-end mb-3">Create Profile</a>
    
    <div class="container d-flex justify-content-center align-items-center mt-5">
        {% for profile in profiles %}
            <div class="profile-card" style="display: flex; align-items: center;">
                <div class="profile-image">
                    {% if profile.image %}
                        <img src="{{ profile.image.url }}" alt="Profile Image" class="img-fluid" style="width: 300px; height: 300px;">
                    {% else %}
                        <img src="{% static 'images/default_profile.jpg' %}" alt="Default Profile Image" class="img-fluid" style="width: 300px; height: 150px;">
                    {% endif %}
                    <div class="card-body-custom mt-3">
                        <h5 class="profile-name">
                            {{ profile.user.username }}
                            <i class="bi bi-patch-check-fill verified"></i>
                        </h5>
                        <p class="profile-text">
                            {{ profile.address }}   
                        </p>
                        <div class="profile-stats">
                            <div>
                                <strong>Age</strong>
                                <span>{{ profile.age }} years</span>
                            </div>
                            <div>
                                <strong>Phone</strong>
                                <span>{{ profile.phone }}</span>
                            </div>
                            <div>
                                <strong>Weight</strong>
                                <span>{{ profile.weight }} kg</span>
                            </div>
                        </div>
                        <div class="profile-stats">
                            
                            <div>
                                <strong>Height</strong>
                                <span>{{ profile.height }} cm</span>
                            </div>
                            <button class="follow-btn btn btn-primary mt-3">
                                Follow <i class="bi bi-plus"></i>
                            </button>
                            <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">
                                Edit Profile
                            </a>
                            <a href="{% url 'delete_account' %}" class="btn btn-danger mt-3">
                                Delete Account
                            </a>
                        </div> 
                    </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}