{% extends 'partial/base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow mt-5" style="max-width: 600px; margin: auto;">

        <div class="card-header">
            <h3>Workout Plan Form</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">
                    <label for="day" class="label">Day</label>
                    <select name="day" id="day" class="form-select" required>
                        <option value="" selected disabled>Select Day</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="title">
                </div>
                <div class="mb-3" class="form-label">
                    <label for="description">Description</label>
                    <textarea name="description" rows="5" class="form-control" id=""></textarea>
                </div>
                <div class="mb-3" class="form-label">
                    <label for="workout">Workout</label>
                    <select name="workout" id="workout" class="form-select">
                        {% for workout in workouts %}
                        <option value="{{ workout.id }}">
                            {{ workout.workout_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-success">
                    Save
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}