{% extends 'partial/base.html' %}
{% block title %}Dashboard{% endblock %}   
{% load static %} 
{% block content %}


    <!-- Top Navbar -->
    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h2>Dashboard</h2>
            <p class="text-muted">
                Welcome {{ request.user.username }}
            </p>
        </div>

        <div>
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" class="card-img-top" alt="Profile Picture">
            {% else %}
            <img src="{% static 'image/mra.png' %}" class="card-img-top" style="width: 70px; height:70px; border-radius: 35px;" alt="Default Profile Picture">
            {% endif %}
        </div>

    </div>

    <!-- Statistics -->
    <div class="row">

        <div class="col-md-3 mb-3">

            <div class="card stat-card">
                <div class="card-body">

                    <h2>{{ total_users }}</h2>
                    <p>Total Users</p>

                </div>
            </div>

        </div>

        <div class="col-md-3 mb-3">

            <div class="card stat-card">
                <div class="card-body">

                    <h2>{{ total_workouts }}</h2>
                    <p>Total Workouts</p>

                </div>
            </div>

        </div>

        <div class="col-md-3 mb-3">

            <div class="card stat-card">
                <div class="card-body">

                    <h2>{{ total_chest_workouts }}</h2>
                    <p>Chest Workouts</p>

                </div>
            </div>

        </div>

        <div class="col-md-3 mb-3">

            <div class="card stat-card">
                <div class="card-body">

                    <h2>{{ total_legs_workouts }}</h2>
                    <p>Leg Workouts</p>

                </div>
            </div>

        </div>

    </div>

    <!-- Recent Workouts -->
    <div class="card table-card mt-4">

        <div class="card-header bg-white">
            <h5>Recent Workouts</h5>
        </div>

        <div class="card-body">

            <table class="table">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Sets</th>
                        <th>Reps</th>
                    </tr>
                </thead>

                <tbody>

                    {% for workout in recent_workouts %}

                    <tr>

                        <td>{{ workout.workout_name }}</td>
                        <td>{{ workout.category }}</td>
                        <td>{{ workout.sets }}</td>
                        <td>{{ workout.reps }}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>


{% endblock %}