{% extends 'partial/base.html' %}
{% block content %}

    <div class="d-flex justify-content-between mb-3 m-5">
        <h2>Gym Workout List</h2>

        <a href="{% url 'add_workout' %}"
           class="btn btn-primary">
           Add Workout
        </a>
    </div>

    <div class="card table-card m-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Category</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for workout in workouts %}
                <tr>
                    <td>{{ workout.workout_name }}</td>
                    <td>{{ workout.category }}</td>
                    <td>{{ workout.sets }}</td>
                    <td>{{ workout.reps }}</td>
                    <td>
                        {% if workout.image %}
                            <img src="{{ workout.image.url }}" style="height: 60px; width:60px ;"
                                class="card-img-top">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'edit_workout' workout.pk %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'delete_workout' workout.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}